body {
    background-color: #F6F1F1;
}
.image-section{
    display: flex;
    justify-content: space-evenly;
    gap: 6em;
}

.navbar{
    background-color: #000000;
    color: #19A7CE !important;
}
.navbar-brand{
    font-size: 2rem !important;
    color: #19A7CE !important;

}

.img-preview1,
.img-preview2 {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #b9b9b9;
    border-radius:10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;   
}

.img-preview1>div,
.img-preview2>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    border-radius: 8px;
    display: inline-block;
    padding: 12px 30px;
    background: #146C94;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    width:fit-content;
}

.upload-label:hover{
    background: #34495E;
    color: #ffffff;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}