<div class="card-body card-div" data-aos="fade-up" data-aos-delay="100">
    
    <figure class="card-figure">
        <img src="{{ url_for('static', filename='content/scanSign.jpg') }}" class="card-img" alt="">
    </figure>

    <div class="row pt-2">
        <div class="col-6 d-flex align-items-center">
            <h4 class="card-heading mb-0">
                Singature Forgery
            </h4>
        </div>

    </div>


    <p class="card-info">
        Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>



</div>