<nav class="navbar navbar-expand-lg fixed-top navbar-unscrolled">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/content/logo.webp" class="logo rounded-circle" style="" alt="">
            SignetDetect
        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <p class="nav-link" aria-label="home link" aria-current="page">Securing your documents with precision and speed</p>
                <a id="nav-item" target="_blank" aria-label="Fork" data-balloon-pos="down"
                    href="/" class="d-flex align-items-center justify-content-start">
                    <button class="fork-btn" aria-label="fork btn" class="d-flex justify-content-center align-items-center">
                        <span class="iconify" data-icon="ph:git-fork" data-width="23" data-height="23"></span>
                    </button>
                </a>
            </div>
        </div>

    </div>
</nav>