{% extends "base.html" %} {% block content %}

<section id="main-content" class="d-flex justify-content-center align-items-center">
    <div>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
        
                <div class="card-body card-div" data-aos="fade-up" data-aos-delay="100">
    
                    <figure class="card-figure">
                        <img src="{{ url_for('static', filename='content/scanSign.jpg') }}" class="card-img" alt="">
                    </figure>
                
                    <div class="row pt-2">
                        <div class="col-6 d-flex align-items-center">
                            <h4 class="card-heading mb-0">
                                Singature Forgery
                            </h4>
                        </div>
                
                    </div>
                
                    <p class="card-info">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button id="upload-btn" aria-label="upload button" type="submit" class="upload-btn d-flex justify-content-center align-items-center">
                            Upload Image
                          &nbsp;
                          <span class="iconify" data-icon="ri:send-plane-fill" data-width="20" data-height="20"></span>
                        </button>
                      </div>

                </div>
        
            </div>
        
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        
                <div class="card-body card-div" data-aos="fade-up" data-aos-delay="100">
    
                    <figure class="card-figure">
                        <img src="{{ url_for('static', filename='content/scanDoc.jpg') }}" class="card-img" alt="">
                    </figure>
                
                    <div class="row pt-2">
                        <div class="col-6 d-flex align-items-center">
                            <h4 class="card-heading mb-0">
                                Signature Detection and Forgery
                            </h4>
                        </div>
                
                    </div>
                
                    <p class="card-info">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button id="upload-btn" aria-label="upload button" type="submit" class="upload-btn d-flex justify-content-center align-items-center">
                            Upload Document
                          &nbsp;
                          <span class="iconify" data-icon="ri:send-plane-fill" data-width="20" data-height="20"></span>
                        </button>
                      </div>
                      
                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}